<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/skin.css">
    <title>Welcome to Events Home</title>
</head>


<body>

 <div id="top">
    <h1>LogoEvents</h1>
 </div>

<nav class="container" >

    <ul>
    <li><a href="home.html">Home</a></li>
    <li class="active"><a href="templates/layouts/about_us.html">About Us</a></li>
    <li>
   <a href="#">Events</a>
      <ul class="submenu">
        <li><a href="#">Event 1</a></li>
        <li><a href="#">Event 2</a></li>
        <li><a href="#">Event 3</a></li>
        <li><a href="#">Event 4</a></li>
      </ul>

  </li>
    <li><a href="#">Services</a></li>
    <li><a href="#">Contact Us</a></li>
  </ul>
</nav>

<hr />
   <div class="container">
      <img src="https://unsplash.it/980/237?image=815" style="width: 100%;">
  
    </div>
<hr />

<div class="container">
  <div class="row">
    <div class="col-sm-3"><span><h2><strong>About Us</strong></h2></span></div>
    <div class="col-sm-6"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit nobis, consequuntur excepturi necessitatibus magni suscipit! Repellendus quis in quia sapiente incidunt eum! Consequuntur deleniti, atque officiis aliquid doloremque possimus odio. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto ipsam cumque, enim velit, assumenda a. Debitis doloribus, aliquam, rem magni, dignissimos repellat at mollitia perspiciatis sunt ullam eum sit ipsum.</p></div>
    <div class="col-sm-3"><span><h3><strong>News</strong></h3></span>
    
    </div>

  </div>
</div>

</body>
<footer class="container-fluid">
        &copy2015 
  <script src="/assets/js/main.js"></script>  
</footer>  
</html>