<include src="layout/event_head1.html"></include>
  <include src="layout/event_logo_header.html"></include>
     <include src="navs/events_navigation.html"></include>

      <hr />
      <div class="container">
         <img src="https://unsplash.it/980/237?image=815" style="width: 100%;">
  
       </div>

    <div class="container">
        <div class="row">
         <div class="col-sm-3"><span><h2><strong>About Us</strong></h2></span></div>
            <div class="col-sm-6"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit nobis, consequuntur excepturi necessitatibus magni suscipit! Repellendus quis in quia sapiente incidunt eum! Consequuntur deleniti, atque officiis aliquid doloremque possimus odio. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto ipsam cumque, enim velit, assumenda a. Debitis doloribus, aliquam, rem magni, dignissimos repellat at mollitia perspiciatis sunt ullam eum sit ipsum.</p></div>
         <div class="col-sm-3"><span><h3><strong>News</strong></h3></span>
    
       </div>

      </div>
    </div>

     <hr />
     <include src="layout/event_footer.html"></include>

    <include src="layout/event_foot.html"></include>