<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/skin.css">
    <title>Welcome to Events Home</title>
</head>


<body>

 <div id="top">
    <h1>LogoEvents</h1>
 </div>

<nav class="container">

    <ul>
    <li class="active"><a href="/" target="_self">Home</a></li>
    <li><a href="/templates/layouts/about_us.html">About Us</a></li>
    <li>
   <a href="/templates/layouts/events.html">Events</a>
      <ul class="submenu">
        <li><a href="#">Event 1</a></li>
        <li><a href="#">Event 2</a></li>
        <li><a href="#">Event 3</a></li>
        <li><a href="#">Event 4</a></li>
      </ul>

  </li>
    <li><a href="#">Services</a></li>
    <li><a href="#">Contact Us</a></li>
  </ul>
    
</nav>

<div class="container">
    <hr>
            <div class="row row-margin-bottom">
            <div class="col-md-5 no-padding lib-item" data-category="view">
                <div class="lib-panel">
                    <div class="row box-shadow">
                        <div class="col-md-6">
                            <img class="lib-img-show" src="https://unsplash.it/305/465?image=851">
                        </div>
                        <div class="col-md-6">
                            <div class="lib-row lib-header">
                                Example library
                                <div class="lib-header-seperator"></div>
                            </div>
                            <div class="lib-row lib-desc">
                                Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>

<footer class="container-fluid">
        &copy2015 
</footer>  
</html>
