  <include src="layout/event_head1.html"></include>
  <include src="layout/event_logo_header.html"></include>
     <include src="navs/events_navigation.html"></include>
    <include src="carousel/event_header_carousel.html"></include>


     <section class="container">

      <h1><a href="/templates/layouts/event_eventspage.html" class="intro">Events</a></h1>
     <p class="intro_text">
       Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae mollitia ab officiis quae molestias suscipit totam saepe eaque, velit aut consequuntur, ipsam. Quam ipsum ad quo maxime, sunt eum temporibus!
     </p>

    </section>
<hr />
     <include src="layout/event_footer.html"></include>

    <include src="layout/event_foot.html"></include>